{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
